<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ERA | PrivacyPolicy</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div style="width: 100%;background-image: url(&quot;assets/img/LogicalReasoningBG.png&quot;);height: 550px;background-color: #05031e;">
        <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="width: 100%;background-color: rgba(255,255,255,0);">
            <div class="container"><a class="navbar-brand" href="/" style="color: rgb(255,255,255);font-family: 'Alegreya Sans', sans-serif;font-size: 22px;"><img src="assets/img/ERA%204-%20TRANSPARENT%20BG.png" style="width: 200px;height: 100px;"></a><button data-toggle="collapse" class="navbar-toggler"
                    data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#" style="color: rgb(255,255,255);"><i class="fa fa-arrow-left" style="font-size: 24;"></i>&nbsp; Back<br></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <h1 class="text-center" style="color: rgb(255,255,255);margin-top: 20px;">Privacy policy</h1>
        <div class="card shadow-lg" style="width: 80%;margin: auto;margin-top: 100px; margin-bottom:100px;">
            <div class="card-body">
                <h4 class="text-center card-title">Privacy Policy</h4>
                <p class="text-justify card-text" style="width: 100%;margin: auto;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;This privacy policy applies to the Era-co.in recognises the importance of maintaining your privacy. We value your privacy and appreciate your trust in us. ASSISTANT ERA values your faith. So on honour
                    that faith of you, ASSISTANT ERA obeys to the moral standards in collecting, using, and protecting the knowledge and data you provide. This privacy policy governs&nbsp;the utilization&nbsp;of our (Website), “www.era-co.in” and also&nbsp;the
                    other&nbsp;associated/ancillary applications, products, websites and services managed by&nbsp;the corporate, Strot. This Policy describes how we treat user information we collect on WEBSITE. This Privacy Policy applies to current and
                    former visitors to our website and to our online customers. By visiting and/or using our website, you conform to the current privacy policy.&nbsp; If&nbsp;you&nbsp;wish not to trust any of the terms and conditions of this Policy, kindly
                    refrain from using&nbsp;the online&nbsp;site or its products or until satisfaction for you to use the identical by its Sales / Marketing / Technical / Legal Team, avail any&nbsp;of these services.<br><br><strong>User Provided Information</strong><br>The
                    Application/Website/Services/products obtains&nbsp;the data&nbsp;you provide once you download and register for the applying or Services or products. After you register with us, you generally provide (a) your name, class, phone number,
                    email address, signal, password and your ward's educational interests; (b) transaction-related information, like after you create purchases, answer any offers, or download or use applications from us; (c) information you provide us
                    after you contact us for help; (d) information you enter into our system when using the Application/Services/products, like while asking doubts, participating in discussions and taking tests. We may use&nbsp;the information&nbsp;to
                    contact you from time to time,&nbsp;to supply&nbsp;you with the Services, important information, required notices and market promotions. We might also collect your Payment and billing information, your billing name, billing address
                    and payment method utilized by you. We NEVER collect your credit card number or credit card expiry date or other details regarding your credit card on our website. We might collect information you post during&nbsp;on a&nbsp;public
                    space on our website or on a third-party social media site belonging to ASSISTANT ERA. <br><br><strong>Other information</strong><br>If&nbsp;you use/operate&nbsp;our website, we may collect information about your IP address and also
                    the browser you're using. We might examine that from which site you came from, duration of&nbsp;your time&nbsp;spent on our website, pages accessed or what site you visit after&nbsp;leaving our website. We might also collect&nbsp;the
                    sort&nbsp;of mobile device you're using, or the version of the software your computer or device is running.<br><br><strong>Automatically Collected Information</strong><br>In addition, the Application/products/Services may collect certain
                    information automatically including information&nbsp;associated with&nbsp;you after you register yourself on our website and also collect information if you post a comment on our websites or ask us questions through phone or email.
                    We collect information from you passively with the help of tracking tools like Google Analytics, Google Webmaster, browser cookies and web beacons for collecting information about your usage of our website.<br><br><strong>Use of your Personal Information</strong><br>We
                    might use&nbsp;the information&nbsp;you provide to contact you for confirmation of a purchase on our website or for other promotional purposes. We use information to reply to your requests or questions.&nbsp;We might use your information
                    to confirm your registration for an event or contest. We also use information to improve our products and services. We might use your information to customize your experience with us. This might include displaying content based upon
                    your preferences. We use information&nbsp;to look&nbsp;at site trends and customer interests. We may use your information&nbsp;to make&nbsp;our website and products better. We may combine information we get from you with information
                    about you we get from third parties. We use information for security purposes. We may use information&nbsp;to safeguard&nbsp;our company, our customers, or our websites. We use information for marketing purposes. We might send you
                    information about special promotions or offers. We might also tell you about new features or products. These&nbsp;could also be&nbsp;our own offers or products, or third-party offers or products we expect you'd possibly find interesting.
                    ASSISTANT ERA will occasionally send email notices or contact you&nbsp;to communicate&nbsp;about our Services, products and benefits, as they're considered&nbsp;an important&nbsp;component&nbsp;of the Services/products&nbsp;you have
                    chosen. We may disclose Information:·&nbsp;as required by law, such as to comply with a subpoena, or similar legal process;·&nbsp;we might also share information when we are investigating potential fraud; ·&nbsp;to enforce applicable
                    ToU, including investigation of potential violations thereof;·&nbsp;We may share information with any successor to all or part of our business;·&nbsp;when we believe in good faith that disclosure is necessary to protect our rights,
                    protect your safety or the safety of others, investigate fraud, address security or technical issues or respond to a government request;·&nbsp;with our trusted services providers who work on our behalf, do not have an independent use
                    of the information we disclose to them, and have agreed to adhere to the rules set forth in this Policy;·&nbsp;to protect against imminent harm to the rights, property or safety of the Application/Website/ Strot Pvt Ltd. or its users
                    or the public as required or permitted by law;·&nbsp;with third party service providers in order to personalize the Application/Website/Services/products for a better user experience and to perform behavioural analysis;·&nbsp;Any portion
                    of the Information containing personal data relating to minors provided by you shall be deemed to be given with the consent of the minor's legal guardian. Such consent is deemed to be provided by your registration with us.<strong>&nbsp;</strong><br><br><strong>Email Opt-Out</strong><br>You
                    can decline of receiving our marketing emails.&nbsp;To stop&nbsp;receiving our promotional emails, please email info@era-co.in it may take about fifteen days to process your request. Whether or not&nbsp;you select&nbsp;out of getting
                    marketing messages, we'll still be sending you transactional message through email or SMS about your purchase.<br><br><strong>Third party sites</strong>&nbsp;<br>If you click on one in every links to third party websites,&nbsp;you
                    will be&nbsp;taken to the websites&nbsp;we do not&nbsp;control. This policy doesn't apply to the privacy practices&nbsp;of those&nbsp;websites. Read the privacy policy of other websites carefully.&nbsp;We do not&nbsp;seem to be&nbsp;accountable
                    for&nbsp;these third party sites.<strong>How Long Do We Retain User Data?</strong>Currently, we&nbsp;commit to&nbsp;retain user data while an account is active and for a minimum of three years afterward. We may alter this practice
                    as per legal and business requirements. For example, we may lengthen the retention period for&nbsp;some&nbsp;data if needed&nbsp;to adhere&nbsp;with law or voluntary codes of conduct. Unless otherwise prohibited, we may shorten the
                    retention period for&nbsp;some&nbsp;sorts of &nbsp;data if needed to unlock space for storing.<br><br><strong>Security</strong><br>We are concerned about safeguarding the confidentiality of your Information.&nbsp;We provide&nbsp;physical,
                    electronic, and procedural safeguards to Information we process and maintain. For example, we limit access to&nbsp;the current&nbsp;Information to authorized employees only who must know that information so&nbsp;on&nbsp;control, develop
                    or improve our Application/Services/products/Website. Please bear in mind that, although we endeavour&nbsp;to provide&nbsp;reasonable security for information we process and maintain, no security system can prevent all potential security
                    breaches.<br><br><strong>&nbsp;Your Consent</strong><br>We believe that, every user of our Application/Services/products/Website must be in a position to furnish an informed consent before providing any Information required for&nbsp;the
                    utilization&nbsp;of the Application /Services /products /Website. By registering with us, you're expressly consenting to our collection, processing, storing, disclosing and handling of your information as set forth during this Policy
                    now and as amended by us. Processing, your information in any way, including, but not limited to, collecting, storing, deleting, using, combining, sharing, transferring and disclosing information, all of which activities will happen
                    in India. If you reside outside India your information are transferred, processed and stored in accordance with the applicable data protection laws in India.<strong>Grievance Officer</strong>In accordance with Information Technology
                    Act 2000 and rules made there under, the name and phone details of the Grievance Officer are provided below: <br>Mr. Abhay Sharma<br>ADDRESS: Haryana, India <br>Phone: <br>Email: abhaysharma@era-co.in<br>If&nbsp;you've&nbsp;any questions
                    on this Policy or other privacy concerns,&nbsp;you will be&nbsp;able to&nbsp;also email us directly info@era-co.in<strong>&nbsp;</strong><br><br><strong>Updates to this policy</strong><br>This Privacy Policy was last updated on 10/08/2020.
                    From time to time we may change our privacy practices. We'll notify you of any material changes to&nbsp;the current&nbsp;policy as desired by law. We will&nbsp;also post an updated copy on our website. Please check our site periodically
                    for updates.<br><br><strong>Jurisdiction</strong><br>If&nbsp;you choose&nbsp;to visit our&nbsp;site, your visit and any dispute over privacy is subject to&nbsp;the current&nbsp;Policy and also the website's terms of use. In addition,
                    to the foregoing, any disputes arising under this Policy shall be governed by the laws of India.<br></p>
            </div>
        </div>
        <div class="footer" style="width: 100%; height: 80px; background: rgb(68, 68, 68);">
            <p class="copyright" style="text-align: center; color: white;padding: 10px;">ERA © 2020 | Made in India</p>
    
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>