<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Teacher's Dashboard</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans">
    <link rel="stylesheet" href="../assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <style>
        .create{
            padding: 20px;
            width: 80%;
            margin: 50px auto;

            display: flex;

        }
        .form{
                flex: 1;
                padding: 5px;
                padding-bottom: 50px;
                box-shadow:10px 10px 10px grey;
            }
        
        .form .field{
            padding-bottom: 10px;
        }
        button{
            padding: 8px;
            width: 100%;
            background: #05031e;
            color: white;
            border: none;
            outline: none;
            border-radius: 5px;
            
        }
        .table{
            flex: 3;
            padding-top: 5px;
            padding-left: 50px;
            padding-right: 50px;
            box-shadow:10px 10px 10px grey;
        }
        table{
            border-radius: 5px;
            border-collapse: collapse;
            width: 100%;
            overflow: hidden;
        }
        .header{
               
               background-color:#05031e;
               color: white;
               border: none;
        }
        tr{
            padding: 5px;
        }
      .delete{
          background: rgb(131, 0, 0);
      }

        
    </style>
</head>

<body>
    <div style="width: 100%;background-image: url(../assets/img/LogicalReasoningBG.png);height: 550px;background-color: #05031e;">
        <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="width: 100%;background-color: rgba(255,255,255,0);">
            <div class="container"><a class="navbar-brand" href="#" style="color: rgb(255,255,255);font-family: 'Alegreya Sans', sans-serif;font-size: 22px;"><img src="../assets/img/ERA%204-%20TRANSPARENT%20BG.png" style="width: 200px;height: 100px;"></a><button data-toggle="collapse" class="navbar-toggler"
                    data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#" style="color: rgb(255,255,255);">About Us</a></li>
                        <li class="dropdown nav-item"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#" style="color: rgb(255,255,255);">Courses</a>
                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                        </li>
                        <li class="dropdown nav-item"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#" style="color: rgb(255,255,255);">Study Material</a>
                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                        </li>
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#" style="color: rgb(255,255,255);">Sign Up/ Sign In<i class="fas fa-user-graduate" style="margin-left: 10px;font-size: 20px;"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <h1 style="color: rgb(255,255,255);padding-left: 5%;margin-top: 2%;padding-right: 5%;margin-bottom: 0px;font-family: 'Alegreya Sans', sans-serif;">Teacher's Dashboard</h1>
        <h2 style="color: rgb(255,255,255);padding-left: 5%;margin-top: 2%;padding-right: 5%;margin-bottom: 0px;font-family: 'Alegreya Sans', sans-serif;">Teacher's Name</h2>
    </div>
    <div class="create">
        <div class="form">
            <h1>Create Class</h1>
            <form action=""></form>
                <div class="field">
                    <p>Subject</p>
                    <input type="text">
                </div>
                <div class="field">
                    <p>Date</p>
                    <input type="date">
                </div>
                <div class="field">
                    <p>Timing</p>
                    <input type="time">
                </div>
                <button type="submit">Save</button>
            </form>
        </div>
        <div class="table">
            <h1>Your Classes</h1>
                <table>
                    <tr class="header">
                        <td>Sr No.</td>
                        <td>Subject</td>
                        <td>Date</td>
                        <td>Time</td>
                        <td>Action</td>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>Maths</td>
                        <td>07/07/2020</td>
                        <td>18:30</td>
                        <td><button class="delete">Delete</button></td> 
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>Maths</td>
                        <td>07/07/2020</td>
                        <td>18:30</td>
                        <td><button class="delete">Delete</button></td> 
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>Maths</td>
                        <td>07/07/2020</td>
                        <td>18:30</td>
                        <td><button class="delete">Delete</button></td> 
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>Maths</td>
                        <td>07/07/2020</td>
                        <td>18:30</td>
                        <td><button class="delete">Delete</button></td> 
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>Maths</td>
                        <td>07/07/2020</td>
                        <td>18:30</td>
                        <td><button class="delete">Delete</button></td> 
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>Maths</td>
                        <td>07/07/2020</td>
                        <td>18:30</td>
                        <td><button class="delete">Delete</button></td> 
                    </tr>
                </table>
        </div>
        
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>