<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Terms and conditions</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div style="width: 100%;background-image: url(&quot;assets/img/LogicalReasoningBG.png&quot;);height: 550px;background-color: #05031e;">
        <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="width: 100%;background-color: rgba(255,255,255,0);">
            <div class="container"><a class="navbar-brand" href="#" style="color: rgb(255,255,255);font-family: 'Alegreya Sans', sans-serif;font-size: 22px;"><img src="assets/img/ERA%204-%20TRANSPARENT%20BG.png" style="width: 200px;height: 100px;"></a><button data-toggle="collapse" class="navbar-toggler"
                    data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="/" style="color: rgb(255,255,255);"><i class="fa fa-arrow-left" style="font-size: 24;"></i>&nbsp; Back<br></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <h1 class="text-center" style="color: rgb(255,255,255);margin-top: 20px;">Terms and Conditions&nbsp;</h1>
        <div class="card shadow-lg" style="width: 80%;margin: auto;margin-top: 100px; margin-bottom:100px ;">
            <div class="card-body">
                <h4 class="text-center card-title">Terms and Conditions</h4>
                <p class="text-justify card-text" style="width: 100%;margin: auto;">Welcome to the Strot under the brand name of ERA. terms and condition. These terms and conditions (“T&amp;C”), are between Strot and you, (hereinafter referred to as “You” or “Your” or “User(s)”). By accessing our website and products,
                    you agree to be bound by the provisions of these Terms and Conditions.<br><br>1.&nbsp;&nbsp;&nbsp;&nbsp; The Strot. retains the rights to make any changesin ERA’s programs and products without any prior notice.<br><br>2.&nbsp;&nbsp;&nbsp;&nbsp;
                    The Strot programs and products are intended to be used for personal use by the student, and will not share the same with anyone else. Any public dissemination of our terms and condition will be violation of copyright and it’s a breach
                    of intellectual property rights of Strot. The company retains the right to proceeding against the person in case of breach.<br><br>3.&nbsp;&nbsp;&nbsp;&nbsp; The students are authorised or entitled to make the payment of our courses,
                    products and programs through online payment modes.<br><br>4.&nbsp;&nbsp;&nbsp;&nbsp; The company is fully authorised to revise the prices of the courses, products and programs, at any point of time, at its sole discretion without
                    issuance of any prior notice.<br><br>5.&nbsp;&nbsp;&nbsp;&nbsp; The parents/students will have access to thecontent and product until the month and year of validity specified in the form and certain courses of the company may have
                    view count restrictions. The parents/students shall be bound by the same.<br><br>6.&nbsp;&nbsp;&nbsp;&nbsp;A student/ parent may apply for a refund within a period of 15 (fifteen) days, after signing the application form. The request
                    shall be made within the end of 15th day from the date of signing the said Application through an email to <a href="mailto:info@era.co.in">info@era.co.in</a> . From the 16th day onwards, the student/parent will not be eligible for
                    a refund of the course fee. The decision of the Company regarding the eligibility of a student/parent to claim a refund shall be final and binding. The company will Issue refunds to those cases which are eligible for a refund via cheque,
                    NEFT or any other mode that it so prefers, The Company is not obligated to refund the amount through cash.<br><br>7.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;When you visit ERA’s Website and Platform or send email to us, you
                    are communicating with us electronically. By communicating with us, you give consent to receive communication from us electronically. We will communicate with you by email or posting notices on ERA’s Website and Platform. You agree
                    that all agreements, notices, disclosures, disclaimers, offers and other communications that are provided to you electronically satisfy any legal requirement that such communication should be in writing.<br><br>8.&nbsp;&nbsp;&nbsp;&nbsp;
                    Strot will terminate a User's access to the ERA Platform, if the User is a repeat copyright infringer; breaches any terms of these Terms and Conditions; Violation of any applicable laws; use of the ERA Platform disrupts our business
                    operations or affects any other party/ User; or you have behaved in a way, which objectively could be regarded as inappropriate or unlawful or illegal or which would bring any claims against Strot. We may suspend access to the ERA
                    Platforms or require You to change Your password if we reasonably believe that the ERA Platforms have been or are likely to be misused, and we will notify You accordingly. Any termination of Your registration and/or Account or the
                    Strot Platforms will not affect liability previously incurred by You. In case any of the above-mentioned cases occur, Strot reserves the right, in its sole discretion, to terminate or suspend the User’s account with immediate effect.<br><br>9.&nbsp;&nbsp;&nbsp;&nbsp;
                    We welcome and encourage you to provide feedback, comments and suggestions for improvements to the Site, courses, products and Services ("<strong>Feedback</strong>"). You may submit Feedback by emailing us, through the "Contact" section
                    of the Site, or by other means of communication. Any feedback You provide with respect to the Site shall be deemed to be non-confidential. The Site shall be free to use such information on an unrestricted basis. Further, by submitting
                    the feedback, You represent and warrant that (i) Your feedback does not contain confidential or proprietary information of You or of third parties; (ii) the Company is not under any obligation of confidentiality, express or implied,
                    with respect to the feedback; (iii) the Application may have something similar to the feedback already under consideration or in development; and (iv) You are not entitled to any compensation or reimbursement of any kind from the Company
                    for the feedback under any circumstances, unless specified.<br><br>10.&nbsp;&nbsp;&nbsp;&nbsp; In case of any dispute or difference arises between the user and the Company regarding the interpretation of these terms and conditions,
                    non-payment of any claim or any dispute arising out of or in pursuant to these terms and conditions. The same shall be referred to a sole arbitrator who shall be appointed by the direction of the Company. The proceedings shall be conducted
                    at Haryana &amp; Chandigarh and in such case courts of Haryana &amp; Chandigarh shall only have the jurisdiction over the matter and or for enforcement as the case may be. <br><br>11.&nbsp;&nbsp;&nbsp;&nbsp; In order to provide the
                    services to you we collect some of your Personal Information. You agree that Strot&nbsp; may disclose Information provided to us, including the data entered into the Website, as required by law, such as to comply with a subpoena, or
                    similar legal process, when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, address security or technical issues or respond to a government
                    request, any portion of the Information containing personal data relating to minors provided by you shall be deemed to be given with the consent of the minor's legal guardian. Such consent is deemed to be provided by your registration
                    with us. You are responsible for preventing unauthorized access to your account<br><br>12.&nbsp;&nbsp;&nbsp;&nbsp; We value your trust and in order to honour your trust Strot adheres to ethical standards in gathering, using and safeguarding
                    any information you provide. We may disclose information<br>&nbsp; &nbsp; &nbsp; &nbsp;o As required by law, such as to comply with a legal notice, or similar legal process;<br>&nbsp; &nbsp; &nbsp; o When it is believes in good faith
                    that the disclosure is necessary to protect the rights, protect your safety or the safety of others, investigate fraud, address security or technical issues or respond to a government request;<br>&nbsp; &nbsp; &nbsp; &nbsp;o To protect
                    against imminent harm to the rights, property or safety of the Website/Strot or its users or the public as required or permitted by law;<br>&nbsp; &nbsp; &nbsp; &nbsp;o With the third-party service providers in order to personalize
                    the Website/Services/products for better user experience and to perform behavioural analysis<br><br>Any portion of the information containing personal data relating to minors provided by you shall be deemed to be given with the consent
                    of minor’s legal guardian. Such consent is deemed to be provided by your registration on the website.<br><br>13.&nbsp;&nbsp;&nbsp;&nbsp; Strot will provide you with the means to ensurethat your personal information is correct and current.
                    This information will by any means be used to provide you with personalized content, and better your learning objectives. Strot may use this information from time to time, to provide you with services, important information, required
                    notices and marketing promotions. <br><br>14.&nbsp;&nbsp;&nbsp;&nbsp; Contact Information A grievance officer shall undertake all the reasonable efforts to solve the grievance faced by the user as earliest as possible. For this you
                    may contact: Abhay Sharma<br><br><br></p>
            </div>
        </div>
        <div class="footer" style="width: 100%; height: 80px; background: rgb(68, 68, 68);">
            <p class="copyright" style="text-align: center; color: white;padding: 10px;">ERA © 2020 | Made in India</p>
    
        </div>
    </div>
    
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>